
body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back {
    text-decoration: none;
    color: #3498db;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #3498db;
    color: white;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}


